* {
  box-sizing: border-box;
}

body {
  background-color: var(--body-background);
  color: var(--text-color);
  font-family: Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  height: auto;
}
