:root {
  --black: #000;
  --white: #fff;
  --dark-gray: #161616;
  --yellow: #f3ce13;
  --red: #c4302b;

  --body-background: var(--dark-gray);
  --text-color: var(--white);
  --weight-bold: 600;

  --max-width: 100%;
  --grid-spacing: 1em;
}
